* {
  list-style: none;
  text-decoration: none;
  font-family: 'Monospace'
}

body {
  background-color: white;
  display: grid;
  margin: 0;
  padding: 0;
}

.navfix{
  border-bottom: 2px solid white;
}

footer{
  margin-top: 10%;
}

.relative{
  position: relative;
}

.absolute{
  position: relative;
}

img{
  width: 100%;
  height: 100%;
  position: relative;
}

/* Sessão Principal */

.principal{
  display: grid;
  margin-left: 10%;
  margin-right: 10%;
}

/* Sessão que mostrará o ultimo post feito. */

.first-post{
  display: grid;
  grid-template-columns: 2fr 3fr;
  margin-top: 20%;
  max-width: 100%;
  background-color: black;
  margin-bottom: 10px;
}

.left{
  color: white;
  text-align:  justify;
  align-self: center;
  justify-self: center;
  margin-left: 5%;
  text-align: center;
  padding-right: 2%;
}

.left a{
  color: white;
}

.left h1{
  font-size: 2em;
}

.left h5 a:hover{
  text-decoration: underline;
}

.right{
  bottom: 0;
}

.right img{
  width: 100%;
  height: auto;
}

/* Sessão dos Posts de Programação */

.programacao{
  color: white;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
}

.progposts{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
}

.text-description{
  position: absolute;
  bottom: 0px;
  left: 0;
  width: 100%;
  background-color: rgb(0, 0, 0, 0.8);
  filter: alpha(opacity=80);
}

.text-description h1, p{
  padding-left: 2%;
}

.postlink{
  color: white;
}

.text-description span:hover, h5:hover{
  text-decoration: underline;
}

.text-description h5{
  text-align: right;
  padding-right: 10px;
}

.negocios{
  color: white;
  background-color: white;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
  margin: 0;
  padding: 0;
  margin-top: 10px;
}

@media(max-width: 650px){
  .first-post, .programacao, .progposts, .negocios{
    grid-template-columns: 1fr;
    grid-gap: 10px;
  }

}
