---
permalink: blog
title: Blog
---

<!DOCTYPE html>

<html>

<head>
  <title>Vida em Código - Desenvolvimento Web</title>
  <meta charset="utf-8" />
  <link rel="stylesheet" href="css/blog.css" />
  <link rel="stylesheet" href="css/footer.css" />
  <link rel="stylesheet" href="css/header.css" />
  <link rel="stylesheet" href="https://cdn.linearicons.com/free/1.0.0/icon-font.min.css">
  <link rel="icon" href="logo.png">
  <link rel="stylesheet" href="https://d1azc1qln24ryf.cloudfront.net/114779/Socicon/style-cf.css?u8vidh">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<body>

  {% include fb.html %} {% include header.html %}

  <main class="principal">

    <section class="first-post">

      <section class="left">

        <h1>Porquê o SEO importa para a sua empresa?</h1>

        <p>Entenda como a otimização de pesquisa melhora o seu site.</p>

        <h5><a href="#">Leia Mais</a></h5>

      </section>

      <section class="right">
        <img src="https://picsum.photos/700/400/?random" />
      </section>

    </section>

    <section class="programacao">

      <section class="relative">

        <img src="https://picsum.photos/768/768/?random" />
        <a class="postlink" href="#">
          <section class="text-description">
            <h1>Lorem Ipsum.</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua <span>[...]</span></p>
            <h5>Ler Mais</h5>
          </section>
        </a>
      </section>

      <section class="progposts">

        <section class="relative">

          <img src="https://picsum.photos/384/384/?random" />
          <a class="postlink" href="#">
            <section class="text-description">
              <h1>Lorem Ipsum.</h1>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod<span>[...]</span></p>
              <h5>Ler Mais</h5>
            </section>
          </a>
        </section>

        <section class="relative">

          <img src="https://picsum.photos/384/384/?random" />
          <a class="postlink" href="#">
            <section class="text-description">
              <h1>Lorem Ipsum.</h1>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod <span>[...]</span></p>
              <h5>Ler Mais</h5>
            </section>
          </a>
        </section>

        <section class="relative">

          <img src="https://picsum.photos/384/384/?random" />
          <a class="postlink" href="#">
            <section class="text-description">
              <h1>Lorem Ipsum.</h1>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod <span>[...]</span></p>
              <h5>Ler Mais</h5>
            </section>
          </a>
        </section>

        <section class="relative">

          <img src="https://picsum.photos/384/384/?random" />
          <a class="postlink" href="#">
            <section class="text-description">
              <h1>Lorem Ipsum.</h1>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod <span>[...]</span></p>
              <h5>Ler Mais</h5>
            </section>
          </a>
        </section>

      </section>

    </section>

    <section class="negocios">

      <section class="relative">

        <img src="https://picsum.photos/768/384/?random" />
        <a class="postlink" href="#">
          <section class="text-description">
            <h1>Lorem Ipsum.</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod <span>[...]</span></p>
            <h5>Ler Mais</h5>
          </section>
        </a>
      </section>
      <section class="relative">

        <img src="https://picsum.photos/768/384/?random" />
        <a class="postlink" href="#">
          <section class="text-description">
            <h1>Lorem Ipsum.</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod <span>[...]</span></p>
            <h5>Ler Mais</h5>
          </section>
        </a>
      </section>
      <section class="relative">

        <img src="https://picsum.photos/768/384/?random" />
        <a class="postlink" href="#">
          <section class="text-description">
            <h1>Lorem Ipsum.</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod  <span>[...]</span></p>
            <h5>Ler Mais</h5>
          </section>
        </a>
      </section>
      <section class="relative">

        <img src="https://picsum.photos/768/384/?random" />
        <a class="postlink" href="#">
          <section class="text-description">
            <h1>Lorem Ipsum.</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod  <span>[...]</span></p>
            <h5>Ler Mais</h5>
          </section>
        </a>
      </section>


  </main>

  {% include footer.html %}
</body>

</html>
