---
permalink: blog
title: Blog
---

<!DOCTYPE html>

<html>

  <head>
    <title>Vida em Código - Desenvolvimento Web</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="css/blog.css" />
    <link rel="stylesheet" href="css/footer.css" />
    <link rel="stylesheet" href="css/header.css" />
    <link rel="stylesheet" href="https://cdn.linearicons.com/free/1.0.0/icon-font.min.css">
    <link rel="icon" href="logo.png">
    <link rel="stylesheet" href="https://d1azc1qln24ryf.cloudfront.net/114779/Socicon/style-cf.css?u8vidh">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  </head>

  <body>

    {% include fb.html %}

    {% include header.html %}

    <section class="posts">

    </section>

    {% include footer.html %}
  </body>

</html>
