---
  title: Vida em Código
  permalink: home
---

<!DOCTYPE html>

<html lang="pt-br">

  {% include head-home.html %}

  <body>

    {% include fb.html %}

    <header class="header">
      <!-- BG Video -->
      <video autoplay loop muted src="video/video.mp4">
      </video>

      <!-- Logo -->
      <section class="logo animated fadeInRight"><img src="img/920.png" /></section>

      <!-- Barra de Navegação -->
      <nav id="nav_bar" class="nav">
        <ul>
          <li>
            <a href="index.html">Início</a>
          </li>
          <li>
            <a href="#">Nossos Trabalhos</a>
          </li>
          <li>
            <a href="sobrenos.html">Sobre Nós</a>
          </li>
          <li>
            <a href="contato.html">Contato</a>
          </li>
          <li>
            <a href="#">Blog</a>
          </li>
        </ul>
      </nav>

    </header>

    <!-- Serviços e "Como Fazemos Isso" -->
    <section class="services">

      <h1 class="titulo">Nossos Serviços</h1>

      <section class="serv-info">

        <section class="animated slideInDown col">
          <i style="font-size: 4em;"class="material-icons">lightbulb_outline</i>
          <h1>Criação de Sites</h1>
          <ul>
            <li>Reformulação de Sites</li>
            <li>Sites Responsivos</li>
            <li>E-commerce</li>
            <li>Hospedagem</li>
            <li>Blog</li>
          </ul>
          <a href="#" class="btnsm">&nbsp Saiba Mais &nbsp</a>
        </section>

        <section class="animated slideInUp col">
          <i style="font-size: 4em;" class="material-icons">public</i>
          <h1>Marketing Digital</h1>
          <ul>
            <li>Gestão de Redes Sociais</li>
            <li>E-mail Marketing</li>
            <li>Google AdWords</li>
            <li>Facebook Ads</li>
            <li>SEO</li>
          </ul>
          <a href="#" class="btnsm">&nbsp Saiba Mais &nbsp</a>
        </section>

        <section class="design animated slideInDown col">
          <i style="font-size: 4em;" class="material-icons">view_quilt</i>
          <h1>Criação de Design</h1>
          <ul style="align-self: center; justify-self: center;">
            <li>Criação de Hotsites</li>
            <li>Criação de Marcas</li>
            <li>Artes e Anúncios</li>
            <li>Folders e Flyers</li>
            <li>Web Design</li>
          </ul>
          <a style="justify-text: center;"href="#" class="btnsm">&nbsp Saiba Mais &nbsp</a>
        </section>

      </section>
    </section>

    <section class="posts">
      <h1>Posts</h1>

      <section class="line1">
        <section class="post1"><a href="#"><img src="https://picsum.photos/g/740/400"/></a></section>
        <section class="post1"><a href="#"><img src="https://picsum.photos/g/749/400"/></a></section>
        <section class="post1"><a href="#"><img src="https://picsum.photos/g/741/400"/></a></section>
      </section>

      <section class="line2">
        <section class="post1"><a href="#"><img src="https://picsum.photos/g/742/400"/></a></section>
        <section class="post1"><a href="#"><img src="https://picsum.photos/g/743/400"/></a></section>
        <section class="post1"><a href="#"><img src="https://picsum.photos/g/744/400"/></a></section>
        <section class="post1"><a href="#"><img src="https://picsum.photos/g/745/400"/></a></section>
      </section>

      <section class="line3">
        <section class="post1"><a href="#"><img src="https://picsum.photos/g/746/400"/></a></section>
        <section class="post1"><a href="#"><img src="https://picsum.photos/g/747/400"/></a></section>
        <section class="post1"><a href="#"><img src="https://picsum.photos/g/748/400"/></a></section>
      </section>

    </section>

    {% include footer.html %}

  </body>

</html>
