<footer>

  <!-- Footer Superior -->
  <section class="footerp">

    <!--  Indice do Site -->
    <section class="sitemap">
      <h3>Mapa do Site:</h3>
      <ul>
        <li>
          <a href="#">Início</a>
        </li>
        <li>
          <a href="#">Nossos Trabalhos</a>
        </li>
        <li>
          <a href="sobrenos.html">Sobre Nós</a>
        </li>
        <li>
          <a href="contato.html">Contato</a>
        </li>
        <li>
          <a href="#">Blog</a>
        </li>
      </ul>
    </section>

    <!-- Redes Sociais -->
    <section class="followus">
      <h3 class="titlefollow">Siga-nos:</h3>

      <section class="social-icons">
        <a href="https://fb.com/vidaemcodigo" class="fb"><i class="socicon-facebook"></i></a>
        <a href="#" class="inst"><i class="socicon-instagram"></i></a>
        <a href="https://github.com/vidaemcodigo/" class="git"><i class="socicon-github"></i></a>
        <a href="#" class="tw"><i class="socicon-twitter"></i></a>
      </section>

    </section>

    <!-- Facebook -->
    <section class="fb">
      <div class="fb-page" data-href="https://www.facebook.com/vidaemcodigo/" data-small-header="true" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true">
        <blockquote cite="https://www.facebook.com/vidaemcodigo/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/vidaemcodigo/">Vida em Código</a></blockquote>
      </div>
    </section>

  </section>

  <!-- Footer Posterior -->
  <section class="downfooter">
    <p>© 2018 | Vida em Código Desenvolvimento Web</p>
  </section>

</footer>
